doctype html
html
	head
		meta(name='author', content='Jakob Baumgartner')
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		title JNotes
		link(rel='shortcut icon', href='favicon.ico')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		link(rel='stylesheet', type='text/css', href='index.css')
		link(rel='stylesheet', type='text/css', href='responsive.css')
		script(src='main.js')
	body
		section#container0
			section#controls.clearfix
				h1 JNotes
				#newJNoteButton
					p#newsign New JNote
			section#display.clearfix
				#Greeting
					p#greetnote
						| Seems like there are no notes yet. Try making some. How, you ask? By pressing the button "New JNotes" ... dummy.
